
@media screen and (min-width: 550px){

    .rightContainer{
        display: flex;
        align-self: flex-end;
        justify-content: space-around;
    }

}

#firstLine{
    display: flex;
    margin-top: 10px;
}