.componentToggleButtonWrapper {
    display: flex;
    align-items: center;
    height: max-content;
}

.componentToggleButtonLabel {
    display: flex;
    align-items: center;
}

.componentToggleButtonStyle {
    border-style: hidden!important;
    margin-left: 2vw!important;
    border-Radius: 20px!important;
    font-weight: 700!important;
    cursor: pointer!important;
}

.buttonActivated {
    background-color: var(--componentToggleButtonActivatedColor) !important;
}
.buttonDeactivated {
    background-color: var(--componentToggleButtonDeactivatedColor) !important;
}