{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "error",
    "semi-spacing": "warn",
    "space-in-parens": "warn",
    "spaced-comment": "warn",
    "quotes": ["warn", "single", { "avoidEscape": true }]
  }
}
