.radioButtonInputFormElement{
    border: 2px #3062A4 solid;
    border-radius: 20px;
    margin: 5px;
}
.radioButtonInput{
    width:100%;
}
.inputDivRadioElement{
    display:table-cell;
    width:100%;
    padding-right: 20px;
    padding-left: 0.5%;
    vertical-align: middle;
}

/* repetition with text css file */
/*
.labelTextDiv{
    display:table-cell;
    max-width: 150px;
    word-wrap: break-word;
    padding: 5px 90px 5px 90px;
    border: 2px transparent solid;
    border-radius: 20px;
    background-color: lightslategrey;
    color: darkslategrey;
}*/