.DropDown{
    border: 2px var(--blue) solid;
    border-radius: 20px;
    margin: 5px;
}

.labelTextDiv{
    display:table-cell;
    word-wrap: break-word;
    padding: 5px;
    text-align: center;
    border: 2px transparent solid;
    border-radius: 20px;
    background-color: var(--buttongrey);
    color: var(--textGrey);

    margin-left: 3px;
    min-width: 200px;
    max-width: 500px;
    height: 15px;
    text-underline: purple;
}

.inputDivRadioElement {
    padding-right: 20px;
    padding-left: 0.5%;
}