.tableContainer {
    width: 90% !important;
}

.tableHeader {
    font-size: x-large !important;
    font-weight: bold !important;
    color: #707070 !important;

}
.tableLeftCell {
    background: #ebebeb;
}