.pageTitleAndComponentButton {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

@media screen and (max-width: 640px){
    .pageTitleAndComponentButton {
        flex-direction: column;
    }

}

.pageRoot {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.facharbeitRootPaperWrapper {
    width: 94vw;
}

.facharbeitRootPaper {
    display: flex;
    width: 90vw;
    padding: 2vw;
}

.tableWrapper {
    display: flex;
    justify-content: center;
}