#loginButtonContainer {
  display: flex;
  justify-content: space-around;
  width: 175px;
  align-self: center;
}

#authBtnText {
  font-size: larger;
}

@media screen and (min-width: 3000px) {
  #authBtnText {
    font-size: xx-large;
  }
}