#loginButtonContainer {
  width: 175px;
  align-self: center;
  padding-left: 1vw;
}

#authBtnText {
  font-size: larger;
}

@media screen and (min-width: 3000px) {
  #authBtnText {
    font-size: xx-large;
  }
}