#footer {
    background-color: #1b2b4b;
    width: 100%;
    color: #cdc9c9;
    height: var(--footerHeight);
}

#erreichbarkeit {
    right: 10px;
    margin-left:10px;
}

#copyright{
    bottom: 0;
    text-align: center;
    background-color: #1e62a9;
}

#header_erreichbarkeit {
    border-bottom: 4px solid #4f9eff;
    width: 180px;
    margin-bottom: auto;
}

hr{
    width:50%;
    text-align:left;
    margin-left:0
}