.App {
  text-align: left;
}

#applicationRootDiv {
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
}

#applicationContent{
  min-height: calc(100vh - var(--footerHeight))
}