.App {
  text-align: left;
}

#applicationRootDiv {
  margin-bottom: var(--footerHeight);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
}
