body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --toolbar-main: #E2E2E2;
  --blue: #3062A4;
  --darkBlue: #1E2B49;
  --textGrey: #707070;
  --buttongrey: #CCCCCC ;
  --componentToggleButtonActivatedColor: #3ece47;
  --componentToggleButtonDeactivatedColor: #ff3d3d;
  --footerHeight: 110px;
  --defaultFormPaperPadding: 2vw;
}
