.GridAdminEinzelnerSchueler{
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100%;
    height: 100%;
}

#HeadlineEinzelnerSchueler{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    font-size: 2vw;
    font-weight: bold;
    width: 30vw;
    height: 5vh;
    color: black;
    text-align: left;
}